---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.pcss";
import "../styles/fonts.pcss";
// import "../styles/prism-theme.pcss";

import {
  SITE_TITLE,
  SITE_URL,
  OG_DEFAULT_DESCRIPTION,
  OG_DEFAULT_IMAGE,
} from "../config";
// import GoogleAnalytics from "./GoogleAnalytics.astro";
import GoogleTagManager from "./GoogleTagManager.astro";

export interface Props {
  title: string;
  description?: string;
  og_description?: string;
  og_image?: string;
  keywords?: string;
}

const {
  title = SITE_TITLE,
  description = "",
  og_description,
  og_image = OG_DEFAULT_IMAGE,
  keywords = "Product designer, web developer, freelance, blog, ai, user research, product design, react.js, js, jamstack",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, SITE_URL);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/images/avatar.png" />
<link rel="canonical" href={canonicalURL} />

<!-- Title -->
<title>{`Aleks Petrov | ${title}`}</title>

<!-- Primary Meta Tags -->
<meta name="generator" content={Astro.generator} />
<meta name="keywords" content={keywords} />
<meta name="title" content={`Aleks Petrov | ${title}`} />
<meta name="description" content={description || OG_DEFAULT_DESCRIPTION} />
<meta name="author" content="Aleksei Petrov" />

<!-- Open Graph / Facebook / LinkedIn -->
<meta property="og:type" content="website" />
<meta property="og:url" content={SITE_URL} />
<meta property="og:title" content={title || SITE_TITLE} />
<meta
  property="og:description"
  content={og_description || description || OG_DEFAULT_DESCRIPTION}
/>
<meta property="og:image" content={SITE_URL + og_image} />
<meta />

<!-- Twitter -->
<meta name="twitter:site" content="@aleks_maker" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={SITE_URL} />
<meta name="twitter:title" content={`${title} ${title && "| "}Aleks Petrov`} />
<meta
  name="twitter:description"
  content={og_description || description || OG_DEFAULT_DESCRIPTION}
/>
<meta property="twitter.image" content={SITE_URL + og_image} />

<!-- Analytics -->
<GoogleTagManager id="GTM-NGTXJC7G" />
