---
import ArrowDown from "./ArrowDown.astro";
import ArrowRight from "./ArrowRight.astro";
import ArrowUp from "./ArrowUp.astro";

export interface Props {
  label?: string;
  title?: string;
  titleBold?: string;
  text?: string;
  description?: string;
  imageUrl?: string;
  imageAlt?: string;
  imageRound?: boolean;
  link?: string;
  class?: string;
  arrow?: "up" | "down" | "right";
}

const {
  label,
  title,
  titleBold,
  description,
  text,
  imageUrl,
  imageAlt,
  imageRound = true,
  link,
  arrow,
  class: className,
}: Props = Astro.props;
---

<a href={link} class={`${className} p-6 bg-gray-100 min-h-[760px]`}>
  {
    imageUrl && (
      <img
        src={imageUrl}
        alt={imageAlt}
        class:list={[
          "block w-full border border-graphite-200",
          { "rounded-xl": imageRound },
        ]}
      />
    )
  }

  <!-- <div class="p-4 lg:p-6 h-full flex flex-col">
    {
      label && (
        <div class="text-sm  mb-6 font-semibold uppercase tracking-widest opacity-70">
          {label}
        </div>
      )
    }
    {
      (title || titleBold) && (
        <h3 class="text-xl text-white md:text-3xl mb-3 flex-1 text-opacity-70">
          {titleBold && <span class="text-white font-medium">{titleBold}</span>}
          {title}
        </h3>
      )
    }
    {
      text && (
        <p class="text-md text-white md:text-xl h-full text-opacity-70">
          {text}
        </p>
      )
    }
  </div> -->
</a>
