---
import ArrowDown from "./ArrowDown.astro";
import ArrowRight from "./ArrowRight.astro";
import ArrowUp from "./ArrowUp.astro";

export interface Props {
  label?: string;
  title?: string;
  titleBold?: string;
  description?: string;
  imageUrl?: string;
  imageAlt?: string;
  link?: string;
  class?: string;
  arrow?: "up" | "down" | "right";
}

const {
  label,
  title,
  titleBold,
  description,
  imageUrl,
  imageAlt,
  link,
  arrow,
  class: className,
}: Props = Astro.props;
---

<a
  href={link}
  class={`${className} rounded-2xl p-6 lg:p-8 flex flex-col min-h-[225px] overflow-hidden`}
>
  {
    label && (
      <div class="mb-6 font-sans-2 text-sm font-semibold uppercase tracking-widest opacity-70">
        {label}
      </div>
    )
  }
  {
    title && (
      <h3 class="mb-2 flex-1 text-[1.625rem] leading-[1.75rem]">
        {titleBold && <span class="font-semibold">{titleBold}</span>} {title}
      </h3>
    )
  }
  {
    imageUrl && (
      <img
        src={imageUrl}
        alt={imageAlt}
        class="orverflow-hidden rounded-6 block w-full rounded-xl border border-graphite-700"
      />
    )
  }
  {
    (description || arrow) && (
      <div class="mt-6 flex items-center justify-between ">
        <p class="opacity-70">{description}</p>
        {arrow === "up" && <ArrowUp class="h-3 lg:h-8" />}
        {arrow === "down" && <ArrowDown class="h-3 lg:h-8" />}
        {arrow === "right" && <ArrowRight class="h-3 lg:h-8" />}
      </div>
    )
  }
</a>
