---
import Card from "./Card.astro";
import { dateToLocale } from "../utils/date";
const { posts } = Astro.props;

const sortedAscByDatePosts = posts.sort((a, b) => {
  return new Date(b.data.publishDate) - new Date(a.data.publishDate);
});
---

<ul class="space-y-5 col-span-4">
  <li class="grid md:grid-cols-2 lg:grid-cols-3 gap-2">
    {
      sortedAscByDatePosts.map((post) => {
        console.log(post.data);

        return (
          <div class="rounded-2xl bg-graphite-800">
            <Card
              label={dateToLocale(post.data.publishDate)}
              titleBold={post.data.titleBold}
              title={post.data.title}
              link={`/blog/${post.slug}`}
              description={post.data.description}
              arrow={"down"}
            />
          </div>
        );
      })
    }
  </li>
</ul>
