---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../../styles/global.pcss";
import "../../styles/prism-theme.pcss";
import { SITE_TITLE, SITE_URL, SITE_DESCRIPTION } from "../../config";

export interface Props {
  title?: string;
  og_description?: string;
  og_image?: string;
}

const {
  title = SITE_TITLE,
  og_description = SITE_DESCRIPTION,
  og_image = "https://alekspetrov.com/images/og_default_image.png",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon-48.png" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={og_description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={SITE_URL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={og_description} />
<meta property="og:image" content={new URL(og_image, SITE_URL + "/images")} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={SITE_URL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={og_description} />
<meta
  property="twitter.image"
  content={new URL(og_image, SITE_URL + "/images")}
/>

<!-- Analytics -->
<script async data-api="/_hive" src="/bee.js"></script>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
  rel="stylesheet"
/>
