---
export interface Props {
  record: {
    dateRange: string;
    title: string;
    company: string;
    country: string;
    results: string[];
  };
}

const { record } = Astro.props;
---

<div class="mb-8 md:flex md:gap-8">
  <p class="whitespace-nowrap w-24">
    {record.dateRange}
  </p>
  <div class="flex-1">
    <div class="mb-6">
      <h2 class="title">{record.title}</h2>
      <p>at {record.company}, {record.country}</p>
    </div>
    <ul class="mr-4 list-none md:list-disc">
      {
        record.results.map((text) => (
          <li class="py-4 md:py-2 border-b md:border-none border-dark-outline">
            {text}
          </li>
        ))
      }
    </ul>
  </div>
</div>
