---
import SubsForm from "../components/SubsForm.astro";
import BaseHead from "../components/BaseHead.astro";
import { dateToLocale } from "../utils/date";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  content: {
    title: string;
    titleBold?: string;
    description: string;
    tags: string[];
    titleImage?: string;
    image?: {
      src: string;
      alt: string;
    };
    openGraph: {
      image: string;
      description: string;
    };
    publishDate: string;
  };
}

const {
  content: { title, description, openGraph, publishDate, titleImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      og_description={openGraph.description}
      og_image={openGraph.image}
    />
  </head>
  <body class="bg-gray-100 text-gray-900 text-body antialiased">
    <Header theme="gray" />
    <main>
      <article class="blog-content px-8 pt-12 md:pt-24">
        <header class="">
          <time
            datetime={publishDate}
            class="block mb-4 font-medium text-gray-600 text-small"
          >
            {dateToLocale(publishDate)}
          </time>
          <h1
            class="mb-12 font-extrabold text-[3rem] leading-[110%] md:text-large md:font-extrabold"
          >
            {title}
          </h1>
          {
            titleImage && (
              <div class="-mx-16 mb-12">
                <img src={titleImage} class="w-full" />
              </div>
            )
          }
        </header>
        <slot />
        <SubsForm />
      </article>
    </main>

    <Footer />
  </body>
</html>
