---
import SubsForm from "../components/SubsForm.astro";
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import { dateToLocale } from "../utils/date";

export interface Props {
  content: {
    title: string;
    description: string;
    tags: string[];
    image?: {
      src: string;
      alt: string;
    };
    openGraph: {
      image: string;
      description: string;
    };
    publishDate: string;
  };
}

const {
  content: { title, description, image, openGraph, publishDate, tags },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} og_description={description} og_image={image} />
  </head>
  <Body maxWidth="narrow">
    <a
      class="px-4 py-2 fixed top-4 left-4 border bg-dark-bg rounded-full"
      href="/blog"
      >← Go Back
    </a>
    <article class="blog-content">
      {image?.src && <img src={image.src} alt={image.alt} />}
      <h1 class="">
        {title}
      </h1>
      <time datetime={publishDate} class="block mb-8 text-graphite-400">
        {dateToLocale(publishDate)}
      </time>
      <slot />
      <SubsForm />
    </article>
  </Body>
</html>
