---
import SubsForm from "../components/SubsForm.astro";
import BaseHead from "../components/BaseHead.astro";
import { dateToLocale } from "../utils/date";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  content: {
    title: string;
    titleBold?: string;
    description: string;
    tags: string[];
    image?: {
      src: string;
      alt: string;
    };
    openGraph: {
      image: string;
      description: string;
    };
    publishDate: string;
  };
}

const {
  content: {
    title,
    titleBold,
    description,
    image,
    openGraph,
    publishDate,
    tags,
  },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={titleBold ? titleBold + " " + title : title}
      description={description}
      og_description={openGraph.description}
      og_image={openGraph.image}
    />
  </head>
  <body class="bg-gray-100 text-gray-900 text-body antialiased">
    <Header />
    <main>
      <article class="blog-content mt-[12%]">
        {image?.src && <img src={image.src} alt={image.alt} />}
        <h1>
          {titleBold && <span class="">{titleBold}</span>}
          {title}
        </h1>
        <time datetime={publishDate} class="block mb-8 text-graphite-400">
          {dateToLocale(publishDate)}
        </time>
        <slot />
        <SubsForm />
      </article>
    </main>
    <Footer />
  </body>
</html>
