---
import BaseHead from "../components/server/BaseHead.astro";
import Footer from "../components/server/ShellFooter.astro";
import PageHeader from "../components/server/PageHeader.astro";
import SubsForm from "../components/client/SubsForm.astro";

export interface Props {
  hasSubsForm?: boolean;
  content: {
    title: string;
    description?: string;
    og_image?: string;
    pubDate?: string;
  };
}

const {
  hasSubsForm = true,
  content: { title, description, og_image },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} og_description={description} og_image={og_image} />
  </head>
  <body>
    <div class="text-dark-text-default bg-dark-bg">
      <main class="min-h-screen overflow-x-scroll">
        <a
          class="block px-4 py-2 m-4 fixed top left border bg-dark-bg rounded-md border-dark-outline"
          href="/">← Go Back</a
        >
        <article class="blog-content mt-24">
          <PageHeader
            title={title}
            og_description={description}
            description={description}
          />
          <slot />
          {hasSubsForm && <SubsForm />}
          <Footer />
        </article>
      </main>
    </div>
  </body>
</html>
